<ul>
    {% for event in events %}
        <li>
            <div>
                <p>{{ event.templateContent | safe }}</p>
                {{ event.date | relativeTime | safe }}
                {% if event.data.tags %}
                    {% for tag in event.data.tags %}
                        <a href="/events/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                <a href="{{ event.url | url | clean }}">share↗</a>
            </div>
        </li>
    {% endfor %}
</ul>