<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>
            {% if '/' === page.url or '/index.html' === page.url %}
                {{ metadata.subtitle }}
                <link rel="dwebapp" href="https://source.dwebdapp.com/dweb-browser-apps/dweb-apps/nilai/3-1.0.13/metadata.json"/>
            {% else %}
                {{ (renderData.title or title or page.fileSlug) | markdown | striptags | decodeHtmlEntities }} · {{ metadata.title }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width">
        <meta name="color-scheme" content="dark light">
        <link rel="stylesheet" href="/css/main.css">
        {% if '/features' in page.url %}
            <link rel="stylesheet" href="/css/feature-support.css">
        {% endif %}
        <link rel="manifest" href="/webmanifest.json">
        <meta name="theme-color" content="#ec407a">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.feed.subtitle }} Atom feed">
        <link rel="alternate" href="/events.atom" type="application/atom+xml" title="Gaubee's Events Atom feed">
        {% for extra_link in extra_links %}
            <link rel="{{ extra_link.rel }}" href="{{ extra_link.href }}">
        {% endfor %}
        <script>
            document.documentElement.className += ' js'
        </script>
        {% if description %}
            <meta name="description" content="{{ description }}">
        {% endif %}
    </head>
    <body>
        <header id="header">
            <h1>
                <a href="/">Gaubee</a>
            </h1>
            <a href="#navigation-toggle" id="nav-toggle">显示导航 Show navigation</a>
            <nav>
                <ul>
                    <li {% if '/' === page.url %} class="current" {% endif %}>
                        <a href="/">主页 Home</a>
                    </li>
                    <li {% if '/articles' in page.url %} class="current" {% endif %}>
                        <a href="/articles">文章 Articles</a>
                    </li>
                    <li {% if '/events' in page.url %} class="current" {% endif %}>
                        <a href="/events">小事件 Events</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="main">
            {{ content | safe }}
        </main>
        <footer id="footer">
            <div>
                <nav>
                    <a target="_blank" href="https://twitter.com/gaubeebangeel" rel="me nofollow">Twitter</a>
                    ·
                    <a target="_blank" href="https://github.com/gaubee/gaubee.com/tree/main/{{ page.inputPath }}" rel="nofollow">Edit this
                        page on GitHub</a>
                </nav>
                <dark-mode-toggle permanent dark="Light Theme" light="Dark Theme"></dark-mode-toggle>
            </div>
            <p>
                <small>除非有特别的说明, 该站点所有直接内容都使用许可证：<a href="https://creativecommons.org/licenses/by/4.0/deed.zh">署名 4.0 国际 (CC BY 4.0)</a>
                </small>
            </p>
            <blockquote>
                <small>本网站不收集任何访问者的行为与信息，不做任何商业运作，仅仅为个人使用</small>
                <small style="display:block">
                    <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery">闽ICP备17026139号-1</a>
                </small>
            </blockquote>
        </footer>
        <script type="module" src="/js/dark-mode-toggle.mjs"></script>
        <script type="module" src="/js/time-elements.mjs"></script>
        <script type="module" src="/js/main.mjs"></script>
    </body>
</html>