---
import ContentLayout from "../layouts/ContentLayout.astro";
import MarkdownPreviewCard from "../components/cards/MarkdownPreviewCard.tsx";
import { getSiteData } from "@/lib/getSiteData";

const { allPosts } = await getSiteData();

const pageTitle = "GauBee's Blog";
---

<ContentLayout title={pageTitle}>
  <div class="px-4">
    <h1 class="mb-2 text-3xl font-bold">GauBee's Feed</h1>
    <p class="text-lg text-zinc-600 dark:text-zinc-400">
      A collection of articles and events.
    </p>
  </div>

  <div
    class="mt-8 flex flex-col border-r border-l border-zinc-200 dark:border-zinc-700"
  >
    {
      allPosts.map((post) => (
        <MarkdownPreviewCard
          client:visible
          content={post}
          preview={post.preview}
        />
      ))
    }
  </div>
</ContentLayout>
