---
import ScaffoldExample from "@/components/scaffold/ScaffoldExample.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Scaffold Demo</title>
  </head>
  <body>
    <ScaffoldExample client:only />
  </body>
</html>