---
import ScaffoldExample from "@/components/scaffold/ScaffoldExample.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Scaffold Test Page</title>
    <link rel="stylesheet" href="/src/tailwind.css" />
  </head>
  <body>
    <ScaffoldExample client:only />
  </body>
</html>