---
layout: layouts/base.njk
---
<article itemscope itemtype="http://schema.org/SocialMediaPosting">
  <div itemprop="sharedContent">
    {{ content | safe }}
  </div>
  <footer>
    <p class="meta">
      发布于 {{ date | localTime | safe }}
      {% if updated %}
        · 最后修改时间 {{ updated | localTime | safe }}
      {% endif %}
      {% if tags %}
        · 标签： {% for tag in tags %}
          <a href="/blog/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </p>
  </footer>
</article>