.card-item {
	list-style: none;
	display: flex;
    border-bottom: 1px solid var(--c-border);
    transition: background-color 0.2s ease-in-out;
}

.card-item:hover {
    background-color: #f9f9f9;
}

.card-item > a {
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	padding: 1rem 1.5rem;
	color: var(--c-text);
}

.card-item h2 {
	margin: 0;
	font-size: 1.1rem; /* Slightly smaller for a denser feed */
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.card-item h2 span {
    display: none; /* Hide the arrow */
}

.card-item p {
	margin-top: 0.25rem;
	margin-bottom: 0;
}

.card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: #555;
    margin-top: 0.5rem;
}

.card-type {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.card-type.article {
    color: rgb(var(--accent-dark));
}

.card-type.event {
    color: #4a8a4a;
}
