---
permalink: /events.atom
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{metadata.title}}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.events | head(1) | getNewestCollectionItemDate | dateToRfc822 }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.events | head(10) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) | clean }}{% endset %}
  <entry>
    <title>{{ post.data.title or post.data.content }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ (post.data.updated or post.date) | dateToRfc822 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>